@import "tailwindcss";

:root {}

a {
	text-decoration: none;
	color: inherit;
}

button.mr-4 {
	@apply mr-4;
}

@media (width < 48rem) {
	.org-after::after {
		content: " (ORG)";
	}

	.user-after::after {
		content: " (ÚČASTNÍK)";
	}
}
